####  Deliverable 2. Create a Customer Travel Destinations Map

Use input statements to retrieve customer weather preferences, then use those preferences to identify potential travel destinations and nearby hotels. Then, show those destinations on a marker layer map with pop-up markers.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hilo,US,19.7297,-155.0900,72.28,77,20,8.05,few clouds
1,1,Albany,US,42.6001,-73.9662,69.03,84,98,1.99,overcast clouds
2,2,Provideniya,RU,64.3833,-173.3000,37.38,78,31,0.92,scattered clouds
3,3,Saldanha,ZA,-33.0117,17.9442,62.65,78,0,12.53,clear sky
4,4,Turukhansk,RU,65.8167,87.9833,31.73,65,83,3.89,broken clouds

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hilo,US,19.7297,-155.0900,72.28,77,20,8.05,few clouds
9,9,Dharur,IN,18.8167,76.1167,71.47,86,100,10.13,overcast clouds
17,17,Vaini,TO,-21.2000,-175.2000,73.56,88,75,21.39,broken clouds
20,20,Vao,NC,-22.6667,167.4833,73.90,80,0,10.00,clear sky
24,24,Castro,BR,-24.7911,-50.0119,70.47,65,87,2.42,overcast clouds
26,26,Rikitea,PF,-23.1203,-134.9692,72.82,73,0,14.41,clear sky
51,51,Mahebourg,MU,-20.4081,57.7000,71.26,88,75,12.66,broken clouds
56,56,Hibbing,US,47.4272,-92.9377,71.56,77,0,0.00,clear sky
57,57,Puerto Ayora,EC,-0.7393,-90.3518,73.36,93,100,10.00,overcast clouds
59,59,Souillac,MU,-20.5167,57.5167,70.18,88,75,12.66,light rain

In [6]:
# 4a. Determine if there are any empty rows.
cities_df.count()

City_ID                63
City                   63
Country                63
Lat                    63
Lng                    63
Max Temp               63
Humidity               63
Cloudiness             63
Wind Speed             63
Current Description    63
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hilo,US,72.28,few clouds,19.7297,-155.0900,
9,Dharur,IN,71.47,overcast clouds,18.8167,76.1167,
17,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,
20,Vao,NC,73.90,clear sky,-22.6667,167.4833,
24,Castro,BR,70.47,overcast clouds,-24.7911,-50.0119,
...,...,...,...,...,...,...,...
522,Komsomolskiy,UZ,74.12,few clouds,40.4272,71.7189,
528,Sarh,TD,73.31,moderate rain,9.1429,18.3923,
535,Katesh,TZ,71.67,clear sky,-4.5167,35.3833,
540,Aksay,RU,74.25,overcast clouds,47.2600,39.8700,
559,Hengyang,CN,74.48,overcast clouds,26.8881,112.6150,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] !='']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hilo,US,72.28,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Dharur,IN,71.47,overcast clouds,18.8167,76.1167,Hotel Rajmahal
17,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
20,Vao,NC,73.90,clear sky,-22.6667,167.4833,Hotel Kou-Bugny
24,Castro,BR,70.47,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
26,Rikitea,PF,72.82,clear sky,-23.1203,-134.9692,People ThankYou
51,Mahebourg,MU,71.26,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
56,Hibbing,US,71.56,clear sky,47.4272,-92.9377,Mitchell-Tappan House - Carriage House Rentals
57,Puerto Ayora,EC,73.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
59,Souillac,MU,70.18,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
vacation_df = pd.read_csv('WeatherPy_Vacation.csv')

vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hilo,US,72.28,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,9,Dharur,IN,71.47,overcast clouds,18.8167,76.1167,Hotel Rajmahal
2,17,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,20,Vao,NC,73.90,clear sky,-22.6667,167.4833,Hotel Kou-Bugny
4,24,Castro,BR,70.47,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
5,26,Rikitea,PF,72.82,clear sky,-23.1203,-134.9692,People ThankYou
6,51,Mahebourg,MU,71.26,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,56,Hibbing,US,71.56,clear sky,47.4272,-92.9377,Mitchell-Tappan House - Carriage House Rentals
8,57,Puerto Ayora,EC,73.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
9,59,Souillac,MU,70.18,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
10,69,Songea,TZ,74.64,clear sky,-10.6833,35.6500,mtakuja
11,70,Arona,ES,73.02,scattered clouds,28.0996,-16.6810,Paradise Court
12,74,Antalaha,MG,70.54,few clouds,-14.9003,50.2788,Hotel Vitasoa
13,76,Koppal,IN,73.65,overcast clouds,15.3500,76.1500,Hotel B.S.Pawar Grand
14,77,Bambous Virieux,MU,71.22,light rain,-20.3428,57.7575,Casa Tia Villa
15,83,Avarua,CK,71.65,overcast clouds,-21.2078,-159.7750,Paradise Inn
16,92,Camacha,PT,72.82,scattered clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
17,95,Jamestown,US,71.02,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
18,103,Isangel,VU,74.21,light rain,-19.5500,169.2667,Tanna Lodge
19,104,Kropotkin,RU,70.97,overcast clouds,45.4375,40.5756,Hotel Europe Kropotkin
20,112,Los Llanos De Aridane,ES,73.15,scattered clouds,28.6585,-17.9182,Valle Aridane
21,124,Inhambane,MZ,74.26,clear sky,-23.8650,35.3833,Oceano
22,126,Japura,ID,74.86,overcast clouds,-0.3167,102.3500,Rumah mbah Jamah
23,132,Saint-Philippe,RE,71.19,light rain,-21.3585,55.7679,Le four à pain
24,152,Krasnyy Yar,RU,72.97,clear sky,46.5331,48.3456,Cottege near Ufa
25,155,Show Low,US,73.65,clear sky,34.2542,-110.0298,Hampton Inn & Suites Show Low-Pinetop
26,197,San Quintin,MX,70.70,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center
27,224,Mount Isa,AU,71.37,heavy intensity rain,-20.7333,139.5000,ibis Styles Mt Isa Verona
28,236,Melendugno,IT,72.05,scattered clouds,40.2747,18.3368,Alba Bed & Breakfast Melendugno
29,239,Challans,FR,70.72,scattered clouds,46.8436,-1.8749,Citotel Le Challans
30,240,Saint-Pierre,RE,71.28,few clouds,-21.3393,55.4781,Alize Plage
31,245,Sambava,MG,71.78,light rain,-14.2667,50.1667,Melrose
32,255,Atambua,ID,73.81,broken clouds,-9.1061,124.8925,Ros Muskanan
33,258,Sanwer,IN,74.05,scattered clouds,22.9833,75.8333,STARiHOTELS Hari Phatak Indore
34,272,Palmer,US,74.55,broken clouds,42.1584,-72.3287,Wedgewood Motel
35,288,Marawi,PH,70.16,overcast clouds,7.9986,124.2928,Derogongan Residence
36,295,Bereda,ES,74.41,overcast clouds,43.2686,-7.5406,Pazo de Verdes
37,306,Naze,JP,70.72,few clouds,28.3667,129.4833,Shishime Hotel
38,333,Alegrete,BR,70.92,broken clouds,-29.7831,-55.7919,Hotel Alegrete
39,337,Sechura,PE,73.47,broken clouds,-5.5569,-80.8222,Hospedaje Costa Bella
40,344,Pyu,MM,74.35,broken clouds,18.4833,96.4333,Mr Bo Bo
41,382,Lagoa,PT,73.69,overcast clouds,39.0500,-27.9833,Casa Das Faias
42,389,Leo,BF,72.84,overcast clouds,11.1000,-2.1000,Hotel Sissilis
43,404,Quatre Cocos,MU,71.10,light rain,-20.2078,57.7625,Sunrise Attitude Hotel
44,405,Rantauprapat,ID,73.04,overcast clouds,2.1000,99.8333,Permata Land Hotel & Resort
45,412,Santa Maria Del Oro,MX,73.74,clear sky,25.9333,-105.3667,Hotel Palacio Del Sol
46,455,Ajaccio,FR,73.38,clear sky,42.0000,8.9167,Sole E Monte
47,459,Kendari,ID,74.32,clear sky,-3.9450,122.4989,Hotel Wixel
48,462,Benguela,AO,73.02,few clouds,-12.5763,13.4055,Hotel Praia Morena
49,471,Lengshuitan,CN,72.79,scattered clouds,26.4111,111.5956,Jialong Hotel
50,472,Hami,CN,72.09,few clouds,42.8000,93.4500,Laoyutang Resort
51,487,Pokhara,NP,73.31,broken clouds,28.2333,83.9833,OYO 170 Hotel View Point
52,491,Grand Gaube,MU,71.38,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
53,505,Muros,ES,74.84,broken clouds,42.7762,-9.0603,Apartment Av. Castelao
54,522,Komsomolskiy,UZ,74.12,few clouds,40.4272,71.7189,Ikathouse
55,528,Sarh,TD,73.31,moderate rain,9.1429,18.3923,Caisse Nationale des Prévoyance Sociale
56,535,Katesh,TZ,71.67,clear sky,-4.5167,35.3833,Colt Guest House
57,540,Aksay,RU,74.25,overcast clouds,47.2600,39.8700,Chernaya Zhemchuzhina
58,559,Hengyang,CN,74.48,overcast clouds,26.8881,112.6150,Honglin Guesthouse

In [13]:
# Using the template add the hotel marks to the heatmap

info_box_template = """
<d1>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>

"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store it in a new DataFrame
locations = vacation_df[['Lat', 'Lng']]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))