### Deliverable 3. Create a Travel Itinerary Map
Use the Google Directions API to create a travel itinerary that shows the route between four cities chosen from the customer’s possible travel destinations. Then, create a marker layer map with a pop-up marker for each city on the itinerary.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hilo,US,72.28,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,9,Dharur,IN,71.47,overcast clouds,18.8167,76.1167,Hotel Rajmahal
2,17,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,20,Vao,NC,73.90,clear sky,-22.6667,167.4833,Hotel Kou-Bugny
4,24,Castro,BR,70.47,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [39]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Leo") & (vacation_df["Hotel Name"] == "Hotel Sissilis")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Songea") & (vacation_df["Hotel Name"] == "mtakuja")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Sarh") & (vacation_df["Hotel Name"] == "Caisse Nationale des Prévoyance Sociale")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Benguela") & (vacation_df["Hotel Name"] == "Hotel Praia Morena")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Katesh") & (vacation_df["Hotel Name"] == "Colt Guest House")]

In [41]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
42,389,Leo,BF,72.84,overcast clouds,11.1,-2.1,Hotel Sissilis

In [42]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
55,528,Sarh,TD,73.31,moderate rain,9.1429,18.3923,Caisse Nationale des Prévoyance Sociale

In [43]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
48,462,Benguela,AO,73.02,few clouds,-12.5763,13.4055,Hotel Praia Morena

In [44]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
56,535,Katesh,TZ,71.67,clear sky,-4.5167,35.3833,Colt Guest House

In [45]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [46]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,389,Leo,BF,72.84,overcast clouds,11.1000,-2.1000,Hotel Sissilis
1,528,Sarh,TD,73.31,moderate rain,9.1429,18.3923,Caisse Nationale des Prévoyance Sociale
2,462,Benguela,AO,73.02,few clouds,-12.5763,13.4055,Hotel Praia Morena
3,535,Katesh,TZ,71.67,clear sky,-4.5167,35.3833,Colt Guest House
4,69,Songea,TZ,74.64,clear sky,-10.6833,35.6500,mtakuja

In [48]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))